.about {
  display: flex;
  align-items: flex-end;
  gap: 100px;

  &__img-wrap {
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__img {
    @include onDesktop {
      width: 500px;
      height: 600px;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  &__subtitle {
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 48px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 36px;

    @include onTablet {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 42px;
    }
  }

  &__item {
    @include onTablet {
      max-width: 218px;
    }
  }

  &__item-circle {
    margin-bottom: 20px;
    @include square(46px);
  }

  &__item-title {
    margin-bottom: 6px;
  }

  &__item-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: $color-text-secondary;
  }

  &::before {
    content: '';
    position: absolute;
    background: url('../../images/decor/2.webp') no-repeat center/contain;
    // z-index: -1;
    width: 231px;
    height: 214px;
    top: -110px;
    right: -107px;

    @include onTablet {
      width: 371px;
      height: 354px;
      top: 144px;
      right: -154px;
    }

    @include onDesktop {
      top: 200px;
      right: -350px;
    }
  }
}