.benefits {
  &__title {
    margin-bottom: 40px;
    text-align: center;

    @include onTablet {
      margin-bottom: 58px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 226px;
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 36px;
  }

  &__item-circle {
    margin-bottom: 24px;
    @include square(84px);
  }

  &__item-title {
    margin-bottom: 10px;
    text-align: center;
  }

  &__item-desc {
    text-align: center;
    color: $color-text-secondary;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;

    @include onTablet {
      background: url('../../images/decor/3.png') no-repeat center/contain;
      width: 458px;
      height: 228px;
      top: 306px;
      left: -276px;
    }

    @include onDesktop {
      top: 96px;
      left: -416px;
    }
  }
}