.header {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include transition;

  @include onDesktop {
    padding: 32px;
  }
}

.header__mobile-burger {
  @include square(36px);
  @include onDesktop {
    display: none;
  }
}

.header__mobile-burger-svg {
  & path {
    @include transition;
    transform: translate(0, 0) rotate(0);
  }

  &--active path:nth-child(1) {
    transform: translate(-5px, 8px) rotate(-40deg);
  }

  &--active path:nth-child(3) {
    transform: translate(5px, -4px) rotate(39deg);
  }
}

.header__phone, .header__nav {
  display: none;

  @include onDesktop {
    display: block;
  }
}
