.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background-color: $color-black;
  z-index: 99;
  padding: 18px 0;
  @include transition;

  @include onDesktop {
    padding: 32px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include container;
  }

  &__mobile-burger {
    @include square(36px);
    @include onDesktop {
      display: none;
    }
  }

  &__mobile-burger-svg {
    & path {
      @include transition;
      transform: translate(0, 0) rotate(0);
    }

    &--active path:nth-child(1) {
      transform: translate(-5px, 8px) rotate(-40deg);
    }

    &--active path:nth-child(3) {
      transform: translate(5px, -4px) rotate(39deg);
    }
  }

  &__phone, &__nav {
    display: none;

    @include onDesktop {
      display: block;
    }
  }
}
