.page {
  font-family: $font-family-base;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: $color-text-primary;

  &__body {
    background-color: $color-black;
    scroll-behavior: smooth;
  }
}
