.stars {
  display: flex;

  &__star {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url(../../images/icons/star.svg);
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &__star:last-child {
    margin-right: 0;
  }

  @for $starCount from 1 through 5 {
    &--#{$starCount} &__star:nth-child(-n+#{$starCount}) {
      background-image: url(../../images/icons/star-active.svg);
    }
  }
}