$font-family-base: 'Montserrat', sans-serif;

$color-black: #000;
$color-white: #fff;
$color-primary: #7300ff;
$color-primary-dark: #160030;
$color-primary-dark-hover: #1D0040;
$color-text-primary: #f9f9f9;
$color-text-secondary: #f0f0f0;
