$font-family-base: 'Montserrat', sans-serif;

$color-black: #000;
$color-white: #fff;

$color-primary: #7300ff;
$color-primary-dark: #160030;
$color-primary-dark-hover: #1d0040;

$color-text-primary: #f9f9f9;
$color-text-secondary: #f0f0f0;
$color-text-gray: #a9a9a9;

$color-gray: #141414;
$color-red: #bd0000;
$color-red-dark: #260001;
$color-blue: #0019bd;
$color-blue-dark: #000626;
$color-green: #58bd00;
$color-green-dark: #002604;
$color-orange: #bd5800;
$color-orange-dark: #261700;
